<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vet</title>
</head>
<body>
<h1 th:text="'List of Vets'">List of Vets...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Rex</td>
        <td th:text="${vet.lastName}">Little</td>
    </tbody>
</table>
</body>
</html>